USE [master]
GO
/****** Object:  Database [Market_Stok]    Script Date: 28.02.2026 14:58:17 ******/
CREATE DATABASE [Market_Stok]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Market_Stok', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\Market_Stok.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Market_Stok_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\Market_Stok_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Market_Stok].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Market_Stok]
GO
/****** Object:  Table [dbo].[Alislar]    Script Date: 28.02.2026 14:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alislar](
	[AlisID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[Miktar] [int] NOT NULL,
	[ToplamMaliyet] [decimal](18, 2) NOT NULL,
	[AlisTarihi] [datetime] NULL,
	[TedarikciId] [int] NULL,
	[KullaniciId] [int] NULL,
	[AlisFiyat] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AlisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 28.02.2026 14:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](255) NULL,
	[Durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 28.02.2026 14:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](60) NOT NULL,
	[Sifre] [nvarchar](60) NOT NULL,
	[Yetki] [nvarchar](50) NOT NULL,
	[OlusturmaTarihi] [datetime] NULL,
	[Adi] [nvarchar](60) NOT NULL,
	[Soyadi] [nvarchar](60) NOT NULL,
	[KullaniciTelNo] [nvarchar](15) NULL,
	[Durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loglar]    Script Date: 28.02.2026 14:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loglar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
	[Level] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[MessageTemplate] [nvarchar](max) NOT NULL,
	[Exception] [nvarchar](max) NULL,
	[Properties] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 28.02.2026 14:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAd] [nvarchar](60) NOT NULL,
	[MusteriSoyad] [nvarchar](60) NOT NULL,
	[M_Tel_No] [nvarchar](15) NULL,
	[Durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[M_Tel_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAPOR]    Script Date: 28.02.2026 14:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAPOR](
	[RaporID] [int] IDENTITY(1,1) NOT NULL,
	[Rapor_Tarihi] [datetime] NOT NULL,
	[Toplam_Satis] [decimal](10, 2) NULL,
	[Toplam_Maliyet] [decimal](10, 2) NULL,
	[Kar_Orani] [decimal](7, 2) NULL,
	[Satilan_Toplam_Urun] [int] NULL,
	[En_Cok_Satan_UrunID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RaporID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Satislar]    Script Date: 28.02.2026 14:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satislar](
	[SatisID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[Miktar] [int] NOT NULL,
	[ToplamFiyat] [decimal](18, 2) NOT NULL,
	[SatisTarihi] [datetime] NULL,
	[Kullanici_ID] [int] NULL,
	[Musteri_Id] [int] NULL,
	[BirimFiyat] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SatisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StokHareketleri]    Script Date: 28.02.2026 14:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StokHareketleri](
	[IslemID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[IslemTuru] [nvarchar](20) NOT NULL,
	[Miktar] [int] NOT NULL,
	[IslemTarihi] [datetime] NULL,
	[Kullanici_ID] [int] NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IslemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tedarikciler]    Script Date: 28.02.2026 14:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tedarikciler](
	[TedarikciID] [int] IDENTITY(1,1) NOT NULL,
	[TedarikciAdi] [nvarchar](60) NOT NULL,
	[TedarikciSoyadi] [nvarchar](60) NOT NULL,
	[FirmaAdi] [nvarchar](100) NULL,
	[TelNo] [nvarchar](15) NULL,
	[Adres] [nvarchar](255) NULL,
	[Durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TedarikciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TelNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 28.02.2026 14:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](120) NOT NULL,
	[KategoriID] [int] NULL,
	[TedarikciID] [int] NULL,
	[StokMiktari] [int] NOT NULL,
	[Fiyat] [decimal](15, 2) NOT NULL,
	[Urun_resim] [nvarchar](255) NULL,
	[Alis_Fiyat] [decimal](15, 2) NOT NULL,
	[Durum] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alislar] ADD  DEFAULT (getdate()) FOR [AlisTarihi]
GO
ALTER TABLE [dbo].[Alislar] ADD  DEFAULT ((0)) FOR [AlisFiyat]
GO
ALTER TABLE [dbo].[Kategoriler] ADD  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[Musteriler] ADD  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[RAPOR] ADD  DEFAULT (getdate()) FOR [Rapor_Tarihi]
GO
ALTER TABLE [dbo].[Satislar] ADD  DEFAULT (getdate()) FOR [SatisTarihi]
GO
ALTER TABLE [dbo].[Satislar] ADD  DEFAULT ((0)) FOR [BirimFiyat]
GO
ALTER TABLE [dbo].[StokHareketleri] ADD  DEFAULT (getdate()) FOR [IslemTarihi]
GO
ALTER TABLE [dbo].[Tedarikciler] ADD  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [Alis_Fiyat]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[Alislar]  WITH CHECK ADD FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Alislar]  WITH CHECK ADD FOREIGN KEY([TedarikciId])
REFERENCES [dbo].[Tedarikciler] ([TedarikciID])
GO
ALTER TABLE [dbo].[Alislar]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[RAPOR]  WITH CHECK ADD FOREIGN KEY([En_Cok_Satan_UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD FOREIGN KEY([Kullanici_ID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD FOREIGN KEY([Musteri_Id])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[StokHareketleri]  WITH CHECK ADD FOREIGN KEY([Kullanici_ID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[StokHareketleri]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD FOREIGN KEY([TedarikciID])
REFERENCES [dbo].[Tedarikciler] ([TedarikciID])
GO
ALTER TABLE [dbo].[Alislar]  WITH CHECK ADD  CONSTRAINT [CHK_Alis_Fiyat] CHECK  (([AlisFiyat]>=(0)))
GO
ALTER TABLE [dbo].[Alislar] CHECK CONSTRAINT [CHK_Alis_Fiyat]
GO
ALTER TABLE [dbo].[Alislar]  WITH CHECK ADD CHECK  (([Miktar]>(0)))
GO
ALTER TABLE [dbo].[RAPOR]  WITH CHECK ADD CHECK  (([Satilan_Toplam_Urun]>=(0)))
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD  CONSTRAINT [CHK_Satis_Fiyat] CHECK  (([BirimFiyat]>=(0)))
GO
ALTER TABLE [dbo].[Satislar] CHECK CONSTRAINT [CHK_Satis_Fiyat]
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD CHECK  (([Miktar]>(0)))
GO
ALTER TABLE [dbo].[StokHareketleri]  WITH CHECK ADD CHECK  (([Miktar]>(0)))
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD CHECK  (([Alis_Fiyat]>=(0)))
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD CHECK  (([Fiyat]>=(0)))
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD CHECK  (([StokMiktari]>=(0)))
GO
USE [master]
GO
